<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file</title>
</head>

<body>
    <div class="container">
        <h2 class="file-name"></h2>
        <ul>
            <li class="file-type"></li>
            <li class="file-size"></li>
            <li class="download"></li>
            <li><button class="share-button">share</button></li>
        </ul>
    </div>

    <a href="/">home</a>

    <script src="/scripts/file.js" type="module"></script>
</body>

</html>